.navbar {
    margin-bottom: 10px;
}

.well {
    background: #ebe4e4;
    padding: 10px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#comment_para {
    margin-bottom: 5px;
}

.card .img-fluid {
    height: 250px;
}

.jumbotron {
    color: #404763;
    font-family: 'Merriweather', serif;
}

.form {
    width: 30%;
    height: 30px auto;
    margin-left: 33%;

}

.form h1 {
    text-align: center;
    margin-top: 40px;
}

.form .form-group {
    margin: 0px 0px 8px;
}

.userPage {
    margin: 20px;
}

#back_button {
    color: white;
}