.navbar {
    margin-bottom: 10px;
}

.well {
    background: #ebe4e4;
    padding: 10px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#comment_para {
    margin-bottom: 5px;
}